
 .div{
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  background: #ffffff;
}

Form{
  background: #4C566A;
  color: #4C566A;
}

Form div{
  text-align: center;
  margin: 20px ;
}

.rect{
  background:whitesmoke;
  width: 500px;
  text-align: center;
  margin: auto;
}

Form div button{
  width: auto;
}

h2{
  color: #4C566A;
}
